<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SIS.Properties.Settings.TestSISConnectionString" connectionString="Data Source=LAP-NFS197\SQLEXPRESS;Initial Catalog=TestSIS;Persist Security Info=True;User ID=administrator;Password=netsolpk"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>